@charset "UTF-8";
a {
	text-decoration: none;
	color: #d4d4d4;
}
a:hover {
	color: #949494;
}
a:active {
	color: #696969;	
}
ul {
	padding: 0px;	
}
ul li {
	list-style: none;
}

.CC_SideMenu {
	color: #d4d4d4;
	padding-top: 10px;
	padding-left: 20px;
	width: 207px;
	border-right: 2px solid gray;
	box-sizing: border-box;
}
.CC_SideMenu h2 {
	width: 130px;
	border-bottom: 5px solid green;
}
.CC_SideMenu li {
	margin-bottom: 10px;
}

.CC_BoardMain {
	color: #d4d4d4;
	width: 1078px;
	padding-top: 20px;
	padding-left: 40px;
	min-height: 650px;
}
.CC_BoardMain h3 {
	width: 150px;
	border-bottom: 3px solid green;
}
.CC_BoardMain table {
	width: 900px;
	border: 1px solid gray;
	border-collapse: collapse;
	margin-bottom: 25px;
}
.CC_BoardMain th, .CC_BoardMain td {
	height: 50px;
	border: 1px solid gray;
}
.CC_TableNum, .CC_Date, .CC_ViewCount {
	text-align: center;
}
.CC_TableNum {
	width: 65px;		
}
.CC_TableTitle {
	padding-left: 15px;
}
.CC_Date {
	width: 150px;
}
.CC_ViewCount{
	width: 80px;
}

.SearchDiv {
	margin-bottom: 50px;
}

#NoticeSearchWord{
	width: 400px;
	height: 25px;
	background-color: #09223c;
	color: white;
	outline: none;
	padding-left: 5px;
	box-sizing: border-box;
}
#NoticeSearchType {
	width: 100px;
	height: 25px;
	color: white;
	background-color: #09223c;
	outline: none;
	box-sizing: border-box;
}
#NoticeSearchClick {
	height: 25px;
	width: 50px;
	background-color: #0facc8;
	color: white;
	border-radius: 5px;
	border: 0px;
	margin-left: 5px;
	font-weight: bold;
	font-size: 10pt;
	outline: none;
}
#NoticeSearchClick:hover {
	background-color: #0d8ea6;
}
#NoticeSearchClick:active {
	border-style: inset;
	border-width: 2px;	
}

.PagingDiv{
	text-align: center;
	width: 900px;
	margin-bottom: 35px;
}
.PagingDiv a {
	border: 1px solid gray;
	padding: 10px 15px;
	margin-right: 3px;
}
.PagingDiv a:hover {
	background-color: gray;
	color: white;
}
.PagingDiv a:active {
	background-color: #595959;
	color: white;
}
.SelectedPage {
	background-color: #595959;
	color: white;
}

.CC_FAQSubMenu {
	display: flex;
	width: 550px;
	margin-bottom: 20px;
}
.CC_FAQSubMenu li {
	border: 1px solid gray;
	height: 50px;
	line-height: 50px;
}
.CC_FAQSubMenu a {
	padding: 15px 30px;
}

.CC_FAQBoardList {
	margin-bottom: 50px;
}
.CC_FAQ {
	border: 1px solid gray;
	width: 700px;
	margin-bottom: 10px;
}
.CC_FAQTitle {
	height: 50px;
	line-height: 50px;
}
.CC_FAQTitle a {
	padding: 15px 20px;
}
.CC_FAQContent {
	display: none;
	border-top: 1px solid gray;
	padding: 0px 20px;
}

.NoticeViewDiv {
	width: 1000px;
	border: 1px solid gray;
	padding: 20px;
	padding-bottom: 50px;
}
.NoticeViewTitle {
	font-weight: bolder;
	font-size: 15pt;
	color: white;
}
.NoticeViewStatus {
	color: gray;
}
.NoticeViewContent {
	color: white;
}
.NoticeViewDiv input[type=button] {
	width: 60px;
	height: 30px;
	float: right;
	clear: both;
	background-color: #0facc8;
	color: white;
	border-radius: 5px;
	border: 0px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 12pt;
	outline: none;
}
.NoticeViewDiv input[type=button]:hover {
	background-color: #0d8ea6;
}
.NoticeViewDiv input[type=button]:active {
	border-style: inset;
	border-width: 2px;	
}

.CC_QNAForm {
	border: 1px solid gray;
	width: 950px;
	padding: 25px;
	margin-bottom: 50px;
	padding-bottom: 60px;
}
.CCQnA_FormDiv {
	margin-bottom: 10px;
}
.CCQnA_FormDiv label {
	display: block;
	float: left;
	padding: 1px 20px;
	width: 100px;
	text-align: right;
	margin-right: 10px;
}
.CCQnA_FormDiv select {
	width: 350px;
	height: 30px;
	background-color: #09223c;
	color: white;
	outline: none;
	border-style: inset;
	border-width: 2px;
}
.CCQnA_FormDiv input[type=text] {
	width: 700px;
	height: 25px;
	background-color: #09223c;
	color: white;
}
.CCQnA_FormDiv input[type=text]:focus {
	outline: none;
}
.CCQnA_FormDiv textarea {
	resize: none;
	width: 700px;
	height: 500px;
	font-size: 10pt;
	background-color: #09223c;
	color: white;
	border-style: inset;
	border-width: 2px;
}
.CCQnA_FormDiv textarea:focus {
	outline: none;
}

.CCQnA_FormDiv input[type=submit], .CCQnA_FormDiv button[type=reset] {
	width: 60px;
	height: 30px;
	background-color: #0facc8;
	color: white;
	border-radius: 5px;
	border: 0px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 12pt;
	box-sizing: border-box;
	outline: none;
}
.CCQnA_FormDiv button[type=reset] {
	width: 70px;
}
.CCQnA_FormDiv input[type=submit]:hover, .CCQnA_FormDiv button[type=reset]:hover {
	background-color: #0d8ea6;
}
.CCQnA_FormDiv input[type=submit]:active, .CCQnA_FormDiv button[type=reset]:active {
	border-style: inset;
	border-width: 2px;
}

.CCQnA_FormDiv input[type=file] {
	border: 1px solid gray;
	width: 700px;
	margin-bottom: 5px;
	padding: 3px;
	padding-left: 10px;
}











