@charset "UTF-8";

.Board img {
	width: 300px;
	height: 80px;
}

.StoreSide {
	display: flex;
	flex-direction: column;
	width: 200px;
	background: gray;
	margin: 0px;
}

.NoticeBoard {
	width: 80%;
	background-color: #F5D0A9;
	margin: 20px auto;
}

.container {
	display: flex;
}

.product {
	width: 300px;
	height: 250px;
	padding: 20px;
	border: 1px solid black;
}