@charset "UTF-8";

.Board img {
	width: 300px;
	height: 80px;
}

.StoreSide {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 1410px;
	background: #003399;
	margin: 0px;
}

.StoreSide a {
	text-decoration: none;
}

.Store-menu {
	display: flex;
	margin: 0px;
	padding: 0px;
}

.Store-menu ul {
	display: flex;
	margin-bottom: 20px;
	padding: 0px;
}

.Store-menu ul li {
	list-style: none;
	height: 65px;
	margin-left: 10px;
	border: 1px solid black;
	line-height: 65px;
}

.Store-menu ul li a {
	text-decoration: none;
	color: #FFC19E;
}

.container {
	display: flex;
	
}

.product {
	width: 300px;
	height: 300px;
	border: 1px solid black;
	margin-left: 40px;
	margin-bottom: 15px;
}

.product a {
	text-decoration: none;
}

.sideProduct {
	padding-left: 0px;
	margin-left: 20px;
}

.imgsize {
	padding: 5px;
}

.gamename {
	margin-left: 5px;
}

.gamename h5 {
	color: #C0C0C0;
}

.gameprice {
	margin-left: 5px;
}

.gameprice span {
	color: #C0C0C0;
}

.intro {
	color: #C0C0C0;
}

.intro ul {
	list-style: none;
}

.gameinfo {
	border: 1px solid gold; 
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	width: 1268px;
	margin-right: 0px;
}

.gameinfo a {
	text-decoration: none;
	color: #C0C0C0;
}

.information {
	display: none;
}

.useProduct {
	display: none;
}