@charset "UTF-8";

header {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 150px;
	background-color: #202155;
	position: absolute;
	display: flex;
	justify-content: center;
}

body {
	margin: auto;
	margin-top: 150px;
	margin-bottom: 0px;
	width: 1280px;
	background-color: #134980;
}

div {
	margin: 0px;
	padding: 0px;
}

footer {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 150px;
	background-color: #202155;
}

footer div {
	margin: 5px auto;
	width: 1280px;
}

footer ul {
	display: flex;
	margin: 0px;
	padding: 0px;
}

footer ul li {
	list-style: none;
	margin-left: 10px;
}

footer a:link, footer a:visited {
	color: #1d8dbe;
	text-decoration: none;
}
footer a:hover {
	color: #166b8f;
}
footer font {
	color: gray;
}

.LOGO, .LOGO img {
	width: 200px;
	height: 150px;
}

.TopMenu {
	display: flex;
	width: 1080px;
	height: 75px;	
}

.Menu {
	width: 1080px;
	height: 75px;
}

.Menu ul {
	display: flex;
	margin: 0px;
	padding: 0px;
}

.Menu ul li {
	list-style: none;
	height: 65px;
	margin-left: 10px;
	border: 1px solid white;
	line-height: 65px;
}

.Menu ul li:hover {
	background-color: #6E6E6E;
}

.Menu ul li a {
	font-size: 20px;
	padding: 19px 22px;
	text-decoration: none;
}

.Menu ul li a:link, .Menu ul li a:visited, .Menu ul li a:hover {
	color: white;
}
