@charset "UTF-8";

header {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 150px;
	background-color: #202155;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
}

body {
	margin: auto;
	margin-top: 150px;
	margin-bottom: 0px;
	width: 1280px;
	background-color: #134980;
	z-index: 1;
}

div {
	margin: 0px;
	padding: 0px;
}

footer {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 150px;
	background-color: #202155;
}

footer div {
	margin: 5px auto;
	width: 1280px;
}

footer ul {
	display: flex;
	margin: 0px;
	padding: 0px;
}

footer ul li {
	list-style: none;
	margin-left: 10px;
}

footer a:link, footer a:visited {
	color: #1d8dbe;
	text-decoration: none;
}
footer a:hover {
	color: #166b8f;
}
footer font {
	color: gray;
}

.LOGO, .LOGO img {
	width: 200px;
	height: 150px;
}

.headerMainDiv{
	box-sizing: border-box;
	width: 1280px;
	display: flex;
	justify-content: space-between;
}

.TopMenu {
	box-sizing: border-box;
	display: flex;
	width: 1050px;
	height: 75px;
	justify-content: space-between;
	padding: 17px 0 0 10px;
}

.Menu {
	width: 1050px;
	height: 75px;
}

.Menu ul {
	display: flex;
	margin: 0px;
	padding: 0px;
}

.Menu ul li {
	list-style: none;
	height: 65px;
	margin-left: 10px;
	border: 1px solid white;
	line-height: 65px;
}

.Menu ul li:hover {
	background-color: #6E6E6E;
}

.Menu ul li a {
	font-size: 20px;
	padding: 19px 22px;
	text-decoration: none;
}

.Menu ul li a:link, .Menu ul li a:visited, .Menu ul li a:hover {
	color: white;
}

.HeaderCCli ul {
	flex-direction: column;
	display: none;
	background-color: #6E6E6E;
	width: 150px;
	border: 1px solid white;
}
.HeaderCCli:hover ul {
	display: block;
}
.HeaderCCli ul li {
	border: 0px;
	margin: 0px;
	height: 40px;
	line-height: 32px;
}
.HeaderCCli ul li a {
	display: block;
	width: 120px;
	font-size: 12pt;
	padding: 5px 10px;
	padding-right: 20px;
}
.HeaderCCli ul li a:active {
	background-color: #4c4c4c;
}


.LOGO{
	box-sizing: border-box;
	width: max-content;
	background-color: #b50000;
	border: 3px solid white;
	margin-top: 30px;
	height: 90px;
}

.LOGO a{
	display: block;
	font-size: 4.5rem;
	font-family: fantasy;
	letter-spacing: 5px;
	color: white;
	padding: 0 5px 0 5px;
}

.LOGO a{ text-decoration: none; color: white; }
.LOGO a:active{ color: white; }
/* ============== 검색창 부분 ============== */
.SearchBar {
	height: 40px;
	width: 600px;
	border: 1px solid #1b5ac2;
	background: #FFFFFF;
}

#SearchWord {
	font-size: 16px;
	width: 500px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

#SearchImg {
	width: 50px;
	height: 100%;
	border: 0px;
	outline: none;
	float: right;
}

/* ============== 로그인 부분 ============== */
.LoginArea { box-sizing: border-box; }

.LoginArea input {
	border: 1px solid skyblue;
	background-color: rgba(0,0,0,0);
	font-size: 0.9rem;
	font-weight: bolder;
	color: skyblue;
	padding: 5px;
	width: 70px;
	height: 35px;
}

.LoginArea input:hover {
	color: white;
	background-color: skyblue;
}























