@charset "UTF-8";

/* 공통 */
.mypSection{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 800px;
	height: auto;
}

.mypContainer{
	display: flex;
	flex-direction: column;
	width: 880px;
	margin: 0 auto auto auto;
	color: white;
}

.mypMenu{
	display: flex;
}

.mypUl{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-left: 0px;
	margin: 0;
	width: 100%;

}

.mypLi{
	box-sizing: border-box;
	width: 147px;
	height: 50px;
	background-color: #0f3964;
	text-align: center;
	line-height: 50px;
	border: 0.5px solid #1e70c1;
	transition: border-top 0.5s ease 0s;
}

.mypLi:hover {
	border-top: 1px solid white;
	cursor: pointer;
	transition: border-top 0.5s ease 0s;
}

#mypLiOn{ 
	border-top: 1px solid #80ffff;
	border-bottom: none;
}

.mypLi a{
	text-decoration: none;
	color: white;
	font-size: 1.0rem;
	letter-spacing: 0.2rem; 
	display: block;
}

.mypContents{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 30px;
	background-color: #0f3964;
	border: 0.5px solid #1e70c1;
	border-top: none;
	border-radius: 0 0 5px 5px;
}

/* 비밀번호 확인 */
.mypInfoContent, .mypMemberOut{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}

.mypH2{
	box-sizing: border-box;
	border-bottom: 5px solid green;
	width: 180px;
	margin-bottom: 20px;
}

.pwTextBox{
	padding: 10px;
	background-color: #ffd5dc;
	border-radius: 5px;
	color: #b50000;
	font-size: 0.9rem;
}

.mypCheckPwd{
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: 30px auto 60px auto;
	padding: 5px;
}

.mypChkPwForm{
	margin-top: 20px;
	position: static;
	height: 55px;
}

.mypChkPw_A{
	border: 1px solid gray;
	border-radius: 5px;
}

.mypChkPw_B{
	display: flex;
	justify-content: center;
	position: relative;
	background-color: inherit;
	z-index: 1;
	left: 10px;
	top: -42px;
	width: max-content;
	color: gray;
	transition: all 0.3s ease 0s;
	font-size: 1.2rem;
	padding: 0 5px 0 5px;
}

.mypChkPw{
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	font-size: 1rem;
	color: white;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
	border: none;
	background-color: inherit;
}
.mypChkPw:focus{ outline: none; }

.mypChkPwd2{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.mypChkPwCmf{ color: red; font-size: 0.95rem; }

#mypChkPwBtn{
	width: 80px;
	height: 30px;
	color: white;
	background-color: #4d93d9;
	border-radius: 5px;
	border: none;
	font-size: 0.95rem;
}
#mypChkPwBtn:hover{ background-color: #276fb6; cursor: pointer; }
#mypChkPwBtn:focus{ outline: none; }


.mypDiv1{
	box-sizing: border-box;
	display: none;
	width: 100%;
	height: auto;
	flex-direction: column;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

/* 회원정보 수정 */
.mypFormInDiv{
	display: flex;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}

.mypFIDTitle{
	width: 170px;
	height: 45px;
	line-height: 45px;
}

.mypInput{
	box-sizing: border-box;
	width: 200px;
	height: 45px;
	border: none;
	border-radius: 5px;
	background-color: inherit;
	font-size: 0.9rem;
	color: gray;
	padding: 10px;
}

.mypCmf{
	margin-left: 10px;
	font-size: 0.8rem;
	line-height: 45px;
}

#roadFullAddr{width: 400px;}
.mypInput:focus{ outline: none;}


#mypFIDDivs{
	justify-content: space-between;
}

.mypPwdDivs{
	display: flex;
	padding: 6.5px 0 6.5px 0;
}

.mypPwRuleMsg{ 
	box-sizing: border-box;
	width: 210px;
	font-size: 0.75rem; 
	padding: 10px;
	background-color: #ffd5dc;
	border-radius: 5px;
	color: #b50000;
}

.addrBtnDiv{
	display: flex;
	padding-top: 10px;
	margin-left: 15px;
}

.addrBtn{ 
	display: none;
	width: 80px;
	height: 20px;
	border-radius: 20px;
	margin-left: 10px;
}

#addrClsBtn{
	display: none;
	height: 20px;
	border-radius: 20px;	
}

.addrBtn, #addrClsBtn{
	border: none;	
	background-color: #4d93d9;
	color: white;
}
.addrBtn:hover{background-color: #276fb6;cursor: pointer;}
#addrClsBtn:hover{background-color: #276fb6;cursor: pointer;}
.addrBtn, #addrClsBtn:focus {outline: none;}

.mypInfoBtns{
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: 20px;
}

.updBtn, .cxBtn, .sBtn{
	width: 100px;
	height: 40px;
	background-color: #4d93d9;
	color: white;
	font-size: 1.0rem;
	border-radius: 5px;
	border: none;
}
.updBtn:hover{background-color: #276fb6;cursor: pointer;}
.cxBtn:hover{background-color: #276fb6;cursor: pointer;} 
.sBtn:hover{background-color: #276fb6;cursor: pointer;}


.cxBtn, .sBtn{
	display: none;
}

/* 회원탈퇴 */
.outTextDiv{
	box-sizing: border-box;
	font-size: 0.9rem; 
	padding: 10px;
	background-color: #ffd5dc;
	border-radius: 5px;
	color: #b50000;
}

.MOutForm{
	position: static;
}

.outTextArea{
	width: 400px;
	height: 110px;
	margin: 30px auto auto auto;
	border: 1px solid white;
	border-radius: 5px;
}

.outReason{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	resize: none;
	padding: 20px;
	background-color: inherit;
	border: none;
	color: white;
}
.outReason:focus{ outline: none; }

.outReasonTitle{
	position: relative;
	width: max-content;	
	top: -120px;
	margin: auto;
	padding: 0 5px 0 5px;
	color: white;
	background-color: #0f3964;
	font-size: 1.0rem;
}
.outReasonTitle span{ font-size: 0.95rem; }

#MOBtn{
	margin: 20px auto auto auto;
	width: 100px;
	height: 40px;
	background-color: #4d93d9;
	color: white;
	font-size: 1.0rem;
	border-radius: 5px;
	border: none;
}
#MOBtn:hover{
	background-color: #276fb6;
	cursor: pointer;
}
#MOBtn:focus{ outline: none; }

/* 회원 쿠폰 */
.couponList{
	box-sizing: border-box;
	width: 100%;
	height: 330px;
	overflow-y: scroll;
	background-color: #0c2b49;
	border-radius: 10px;
	padding-left: 10px;
}
.couponList::-webkit-scrollbar{ /* webkit 스크롤바 전체 (웹 표준은 적용안됨)*/
    width: 10px;
  }
.couponList::-webkit-scrollbar-thumb { /* webkit 스크롤바 막대 */
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent; /* 투명하게 */
}
.couponList::-webkit-scrollbar-track { /* webkit 스크롤바 여백 */
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.emptyCoupon{
	font-size: 1.7rem;
	font-weight: bolder;
	color: #808080;
	opacity: 0.5;
	margin-top: 10px;	
}

.coupon{
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	width: 250px;
	height: 150px;
	font-size: 0.8rem;
	font-weight: bolder;
	color: black;
	padding: 5px;
	background: linear-gradient(to left bottom, red, white 50%, red);
	margin: 10px 10px 0 0;
	border-radius: 5px;
}

.couponHeader{
	display: flex;
	height: 38px;
	justify-content: space-between;
}

.cpSiteName{ font-size: 1.2rem; font-family: fantasy; letter-spacing: 0.2rem;}
.cpVali{ font-size: 0.7rem; }

.couponBody{height: 86px;}
.couponBody div{
	width: max-content;
	margin: auto auto 7px auto;
}

.cpName{ font-size: 1.3rem; letter-spacing: 0.2rem; }
.cpPrice{ font-size: 1.0rem; font-family: cursive;}
.cpTos span{ font-size: 0.7rem; color: #00ff00; }
.cpTos{ font-size: 0.60rem; }

.regCForm{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.regCoup{
	box-sizing: border-box;
	width: 250px;
	height: 45px;
	padding: 7px;
	margin-right: 20px;
	font-size: 1.0rem;
	background-color: #0c2b49;
	color: white;
	border-radius: 5px;
}

.regBtn{
	width: 80px;
	height: 45px;
	background-color: #4d93d9;
	color: white;
	font-size: 1.0rem;
	border-radius: 5px;
	border: none;
}
.regBtn:hover{
	background-color: #276fb6;
	cursor: pointer;
}
.regBtn:focus{ outline: none; }


/* 문의 내역 확인 부분 - 작성자 : JIC */
.mypContents a {
	text-decoration: none;
	color: #d4d4d4;
}
.mypContents a:hover {
	color: #949494;
}
.mypContents a:active {
	color: #696969;
}

.mypContents table {
	width: 820px;
	border-collapse: collapse;
}
.mypContents th, .mypContents td {
	border: 1px solid gray;
	height: 40px;
}
.mypContentsNum, .mypContentsCat, .mypContentsDat {
	text-align: center;
}
.mypContentsNum {
	width: 50px;
}
.mypContentsCat {
	width: 150px;
}
.mypContentsDat {
	width: 180px;
}
.mypContentsTit a {
	margin-left: 5px;
}

.MypContentBox {
	background-color: #09223c;
	padding: 20px;
	border-radius: 10px;
}
.mypQnaInfo {
	font-size: 10pt;
}
.MypQnaIndexbutton {
	width: 60px;
	height: 30px;
	float: right;
	clear: both;
	background-color: #0facc8;
	color: white;
	border-radius: 5px;
	border: 0px;
	font-weight: bold;
	font-size: 12pt;
	outline: none;
	margin-top: 40px;
}
.MypQnaIndexbutton:hover {
	background-color: #0d8ea6;
}
.MypQnaIndexbutton:active {
	border-style: inset;
	border-width: 2px;
}





