@charset "UTF-8";

.policyContainer{
	width: 580px;
	border: 1px solid blue;
	margin: 0 auto 0 auto;
}

.policyTOSTitleBox{
	display: flex;
	justify-content: space-between;
	height: 75px;
}

.policyTOSTitleBox h2{
	width: 440px;
}

.policyTOSTitleBox div{
	margin: auto;
	margin-right: 0;
	color: red;
}

.policyTOSSet{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.policyTOS{
	width: 100%;
	height: 150px;
	border: 1px solid black;
	overflow: scroll;
	overflow-x: hidden;
	white-space: pre-line;
}

.policyTOSSet input{ margin-left: 0; }

.policyUnderLine{ 
	text-decoration: underline; 
	font-weight: bolder;
}

.policyRed{ color: red; font-weight: bolder;}
